@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

*{
  margin: 0;
  font-family: 'Libre Baskerville', serif;
}

a{
  cursor: pointer;
  color: darkblue;
  text-decoration: none;
}

input{
  outline: none;
}

.card {
  box-shadow: 0 4px 6px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.card:hover {
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2);
}