.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: lightgray;
}

.footer p{
    font-size: 12px;
    margin: 5px;
}